{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load url from future %}

{% block imagestore-breadcrumb %}
    {% with "li" as scope_tag %}
        {% include "imagestore/image-scope.html" %}
    {% endwith %}
{% endblock %}

{% block title %}
    {% include "imagestore/image-scope.html" %}
{% endblock %}

{% block page_title %}
    {% include "imagestore/image-scope.html" %}
        <div class="image-description">
            <p class="lead">{{ album.description }}</p>
        </div>
{% endblock page_title %}

{% block imagestore-info %}
    {% if view_user and IMAGESTORE_SHOW_USER %}
        {% with user=view_user %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}
    {% if album and IMAGESTORE_SHOW_USER %}
        {% with user=album.user %}
            {% include "imagestore/user_info.html" %}
        {% endwith %}
    {% endif %}

{% endblock %}


{% block controls %}
    {% if album %}
        {% if request.user == album.user or perms.imagestore.moderate_albums %}
            <li><a href='{% url 'imagestore:update-album' pk=album.pk %}'>{% trans "Edit album" %}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
   
    {% include "imagestore/pagination.html" %}
    <div id="image-thumbnails row">
        {% for image in image_list %}
        {% if forloop.counter0|divisibleby:3 %}
            </div>
            <div class="image-thumbnails row effect-1">
        {% endif %}
        <div class="col-sm-4">
            <div class="thumbnail">
            <div class="image-preview">
                
            {% thumbnail image.image "770x500" crop="center" as im %}
                <a class="thumb" rel='gallery-image[ilist]' href="{{ image.image.url }}">
                    <img class="preview img-responsive" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                </a>
                
            {% endthumbnail %}
            <div class="caption center-text">
                {% if image.title %}
                <h3>
                    <a href="{% include "imagestore/image-href.html" %}">
                    {{ image.title }}
                    </a>
                </h3>
                {% endif %}
                <p>{{ image.description }}</p>
                <a href="{% include "imagestore/image-href.html" %}">View</a>
            </div>
        </div>
        </div></div>
        {% endfor %}
    </div>
    </div>
    {% include "imagestore/pagination.html" %}
{% endblock %}


